form {
  width: 300px;
}

input {
  width: 100%;
}


textarea {
  resize: vertical;
  max-height: 100px;
}


input, textarea {
  outline: none;
  border: 2px solid #e4f7f7;
  padding:6px;
  padding-right: 30px;
}

::placeholder {
  color: #83e6da ;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #e4f7f7;
}

::-ms-input-placeholder {
  color: #e4f7f7;
}
