table {
  width: 400px;
}

th {
  text-align: left;
}

table, th, td {
  border: 1px solid #e4f7f7;
}

th, td {
padding: 10px;
padding-right: 30px;
padding-left:10px;
}

tr:nth-child(odd) {
  background-color: #83e6da;
}


tr:nth-child(even) {
  background-color: #e4f7f7;
}
